.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  padding-top: 0.5%;
}

.main-logo {
  transform: translateX(calc(50vw - 50%));
  width: 12%;
}

.dev-logo {
  margin-right: 2.5%;
  width: 12%;
}

@media (max-width: 800px) {
  img {
    max-width: 20rem;
  }
}
